/* External file */
body{
    /* font-family: serif; fon of site
    font-size: 16px; defualt! size of font of site
     font-size: 1.3rem; 
     text-align: center; alige of site */ 
    background-color: yellow; /* select background site color */
}

p {
    border: 0.01rem solid gray; /* create border for p tag [size kind color] */
    padding: 0.5rem; /* padding of p */
    border-radius: 0.5rem; /* border radius */
}

/* #h1 { // id selector
    padding: 0.5rem;
} */
/* if for 1 element! */

/* .bg-gray { // class selector 
    background-color: gray;
} */


/* ol span{ // ol tag's spans
    background-color: skyblue;
} */


/* ol li span:first-child{ // first child of span of list of ol
    background-color: skyblue;
}

ol li span:last-child{ // last child of span of list of ol
    background-color: skyblue;
} */

/* ol li span:nth-child(odd){ // odd child of span of list of ol
    background-color: skyblue;
} */

/* ol li span:nth-child(2n + 4){
    background-color: skyblue;
} */

/* .mgh:hover{ // hover action
    color: black;
    transition: color 1s; // time of changing color
}

.hgh:active{ // click action
    color: green;
}

.mgh:visited{ // visited action
    color: hotpink;
} */

article{
    width: 16.8%;
    height: 100px;
    text-align: left;
    float: left; /* float of article */
    padding: 1rem;
    padding-top: 0rem;
    border: 0.01rem solid black ;
    box-sizing: border-box; /* box sizing */
    margin: 1.6%;
    box-shadow: 0.53rem 5px 5px gray; /* box shadow */
    border-radius: 0.6rem;
    overflow:auto; /* create bar */
}

article:hover{
    box-shadow: 0.63rem 10px 10px rgb(94, 93, 93);
    transition: box-shadow 0.25s;
}

b{
    display: inline-block; /* display inlime with display block property
    /* display: block; block display */
}

article{
    display: inline; /* inline display */
}

input, textarea{
    margin: 10px; /* margin */
    border-radius: 7px;
}

.form{
    border: 1px solid rgb(217, 255, 0);
    width: 25%;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    background-color: blueviolet;
    color: white;
    font-family: fantasy;
    font-size: 18px;
    border-radius: 7px;
    box-shadow: gray 10px 10px 10px 3px;
}

